h3 {
  color: azure;
}

hr {
  width: 60px;
  border: 2px solid #0d6efd;
}

.gradient-background {
  background: linear-gradient(300deg, #005461, #018790, #00b7b5);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.logo {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.start-img {
  height: 30vh;
  object-fit: cover;
  width: 100%;
}

.btn-primary {
  background-color: #28a745;
  border-color: #28a745;
}

.qualifikation {
  background-color: #eaefef;
}

.img-leistung {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.nav-link {
  color: #eaefef;
  font-size: 1rem;
}

.card-img-top {
  height: 225px;
  object-fit: cover;
}

.login-container {
  min-height: 100vh;
}

.login-card {
  width: 100%;
  max-width: 400px;
}
