body {
  background-color: EAEFEF;
}

.gradient-background {
  background: linear-gradient(300deg, #005461, #018790, #00b7b5);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

.logo {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.start-img {
  height: 50vh;
  object-fit: cover;
  width: 100%;
}

.btn-primary {
  background-color: #28a745;
  border-color: #28a745;
}

.qualifikation {
  background-color: #eaefef;
}

.img-leistung {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.h3 {
  color: azure;
}

.nav-link {
  color: #eaefef;
  font-size: 2.3rem;
}
